# Build results
.user
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
**/bin/
**/obj/
# build folder is nowadays used for build scripts and should not be ignored
#build/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# MSTest test Results
[Tt]est[Rr]esult*/
packages/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Visual Studio temp something
.vs/
**/.vs/

# Visual Studio Code
.vscode/
